{% extends 'base.html.twig' %}

{% block body %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for project in projects %}
    <div class="col">
      <div class="card shadow-sm h-100">
        <img id="imageBanner" style="pointer-events:none;" src="{{ project.thumbnail ? "data:image/png;base64," ~ project.readThumbnail : asset('elec.png') }}" class="card-img-top img-fluid"/>
        <div class="card-header project-title">
          <h3 class="name">{{ project.name }}</h3>
        </div>
        <div class="card-body">
          <p class="lead">{{ project.shortDescription }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-xl project-show">Page du projet</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
