html, body{
  height: 100%;
}

.app-header {
  line-height: 1;
  background-color: #5a4d9b;
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 60px;
  padding-top: 5px;
  z-index: 10;
}

.app-logo{
  height: 60px;
}


.js-off-canvas-overlay.is-overlay-fixed {
    position: fixed;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../wave.svg') top no-repeat;
}

.content{
  position: relative;
  z-index: 1;
  background: url('../bg-pattern.jpg');
}
.content section{
  z-index: 15;
}

footer{
  width: 80%;
  border-top: 1px solid #D0CCE2;
  background: url('../bg-pattern.jpg');
}
