{% extends 'admin.html.twig' %}

{% block title %}New Promotion{% endblock %}

{% block body %}
<div class="card card-outline card-orange">
  <div class="card-header">
    Nouvelle promotion
  </div>
  <div class="card-body">
    {{ include('promotion/_form.html.twig', {'button_label': 'Créer'}) }}
  </div>
</div>
{% endblock %}
