{% extends 'admin.html.twig' %}

{% block title %}Modifier l'étudiant : {{ user }}{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Modifier l'étudiant : {{ user }}</h3>
  </div>
  <div class="card-body">
      {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
  </div>
  <div class="card-footer">
    {{ include('user/_delete_form.html.twig') }}
  </div>
</div>
{% endblock %}
