{% extends 'admin.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des étudiants</h3>
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>NOM Prénom</th>
                <th>Rôles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname|capitalize ~ " " ~ user.firstname }}</td>
                <td>{{ user.roles ? user.roles[0] : '' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun étudiant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a href="{{ path('register') }}" class="btn btn-success">Ajouter manuellement</a>
  </div>
</div>
{% endblock %}
